<form id="form">
    <div class="alert alert-success" id="alert" style="display: none">
        This is a success alert—check it out!
    </div>
    <div class="form-group row">
        <label class="col-3" for="subtext">Old password</label>
        <div class="col-9">
            <input type="password" class="form-control" name="OldPassword" placeholder="Old password">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3" for="subtext">New password</label>
        <div class="col-9">
            <input type="password" class="form-control" name="NewPassword" placeholder="New password">
        </div>
    </div>
    {{/*<div class="form-group row">
        <label class="col-3" for="subtext">Re-type password</label>
        <div class="col-9">
            <input type="password" class="form-control" name="ReTypePassword" placeholder="Re-type password">
        </div>
    </div>*/}}
    <button type="submit" class="btn btn-primary">Change</button>
</form>
<style>
    #alert p {
        margin-bottom: 0 !important;
    }
</style>
<script type="text/javascript">
    $('#form').submit(function (e) {
        e.preventDefault();
        /*if ($('#form input[name=NewPassword]').val() !== $('#form input[name=ReTypePassword]').val()) {
            $('#alert').html(`Your Re-type password is not match`);
            $('#alert').removeClass('alert-success');
            $('#alert').addClass('alert-danger');
            $('#alert').show();
            return
        }*/
        data = {
            OldPassword: $('#form input[name=OldPassword]').val(),
            NewPassword: $('#form input[name=NewPassword]').val(),
        }
        $('#alert').hide();
        $.ajax({
            url: '/change-password',
            data: data,
            //processData: false,
            type: 'PUT',
            success: function ( data ) {
                $('#alert').addClass('alert-success');
                $('#alert').removeClass('alert-danger');
                $('#alert').show();
                $('#alert').html('Your password have been updated.')
            },
            error: function (err) {
                const response = err.responseJSON;
                if (typeof (response.error) === 'string') {
                    $('#alert').html(response.error);
                }else{
                    let content = '';
                    for (var i in response.error) {
                        content += `<p>${i}: ${response.error[i]}</p>`;
                    }
                    $('#alert').html(content);
                }
                $('#alert').removeClass('alert-success');
                $('#alert').addClass('alert-danger');
                $('#alert').show();
            }
        });
    })
    $('#form input').keyup(function () {
        $('#alert').hide();
    })
</script>